body{
	margin:0px;
	padding: 0px;
	background-color: #85bdf8;
	color: #303a4c;
}
.font-body{
	font-family: 'Nunito', sans-serif;
}
.font-header{

	 font-family: 'Frank Ruhl Libre', serif;
}
#header-nav{
	background-color: #85bdf8 !important;
	box-shadow: 2px 3px 3px #91b0c4;
}
#header-nav a{color: #ffffff;}
#header-backgrond{
	background-image: url("../images/bg1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
section #service{
	color: #ffffff;
	
}
#service p{
	font-size: 17px;
}
#service img{
	box-shadow: 2px 2px 4px gray;
}
#service_btn{
	background-color: #ffffff;
	font-weight: 800;
	color:#303a4c;
	border-radius: 0px;
	box-shadow: 1px 1px 4px #303a4c;
}
#service_btn:hover{
	box-shadow: -1px -1px 4px #303a4c;
}
#service_header{
	padding-bottom: 6px;
	width: 200px;
	border-bottom: 1px solid #303a4c;
}
#payment_card{
	border-radius: 0px;
	background-color:#85bdf8;
	color: #fff;
	font-size: 14px;
	/*border: 1px solid #303a4c;*/
	box-shadow: 1px 0px 4px #303a4c;
}
#payment_card:hover{
	box-shadow: -1px 0px 4px #303a4c;
	cursor: pointer;
}
#payment_card .card-body h5{
	width: 140px;
	border-bottom: 1px solid #303a4c;
	padding-bottom: 7px;
	margin-left:auto;
	margin-right: auto; 
	/*background-color: #303a4c;*/
}
#contact {
	background-color: #303a4c;
	color: #fff;
}
#contact input{
	border:1px solid #ffff;
	border-radius: 0px;
}
#contact .btn{
	border: 1px solid #85bdf8;
	border-radius: 0px;
	padding: 3px 10px;
	color: #fff;
	font-size: 14px;
}
#contact a{
	text-decoration: none;
	color: #fff;
}
.footer {
	color: #fff;
}